{% extends 'base.html' %}
{% block title %}WebSocket Raw Data{% endblock %}
{% block container %}
<div class="starter-template">
	<h1>3d Visualization</h1>
	<p class="lead">Placeholder for 3d visualization</p>
	<div class="row">
		<canvas id="tutorial" style="border: 2px solid blue" width="500" height="500"></canvas>
	</div>
 </div>
{% endblock %}
{% block js_end %}
{{ super() }}
<script src="/static/js/socketio/socket.io.min.js"></script>
<script src="/static/js/zmq-socket.js"></script>
<script src="/static/c3dl/c3dapi.js" ></script>
<script src="/static/js/3dviz.js"></script>


{% endblock %}
